VITE_DISCORD_CLIENT_ID=replace_me
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/footsim/auth/callback
VITE_DATA_REPO=BJBellum/footsim-data
VITE_DATA_BRANCH=main
VITE_ADMIN_DISCORD_ID=772821169664426025
